openapi: 3.0.0
info:
  title: RX GLITCH API
  version: 1.0.0
  description: >
    RX GLITCH predicts payer denials before they happen.  
    It analyzes CPT × ICD logic, documentation requirements, and payer drift.

servers:
  - url: https://api.rxglitch.com/v1
    description: Production (inside client VPC)
  - url: https://sandbox.rxglitch.com/v1
    description: Sandbox testing environment
  - url: https://mock.rxglitch.io/v1
    description: Mock testing environment

paths:
  /claim-check:
    post:
      summary: Predicts denial risk for a single claim
      operationId: claimCheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cpt:
                  type: string
                  example: "93000"
                icd10:
                  type: array
                  items:
                    type: string
                  example: ["I10"]
                patient_name:
                  type: string
                  example: "Jane Doe"
                sex:
                  type: string
                  example: "F"
                dob:
                  type: string
                  format: date
                  example: "1980-04-12"
                date_of_service: 
                  type: string
                  format: date
                  example: "2025-10-16"
                payor_code:
                  type: string
                  example: "AET123"
                payor_name:
                  type: string
                  example: "Aetna Health"
                group_number:
                  type: string
                  example: "G456789"
                subscriber_id:
                  type: string
                  example: "SUB123456"
                total_cpt:
                  type: array
                  description: "All CPT codes included on the claim"
                  items:
                    type: string
                  example: ["93000", "93010", "99214"]
                 diagnosis_all:
                    type: array
                    description: "All ICD-10 codes included on the entire claim"
                    items:
                      type: string
                      example: ["I10", "E11.9", "R07.9"]
                 physician_npi:
                    type: string
                    example: "1234567890"
                physician_first_initial:
                    type: string
                    example: "J"
                physician_last_name:
                    type: string
                    example: "Smith"
                denial_category:
                    type: string
                    example: "Medical Necessity / DX Code"
                plan_id:
                  type: string
                  example: "PAYER-ACME-123"
  
      responses:
        '200':
          description: Risk evaluation successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  risk:
                    type: number
                    example: 0.82
                  status:
                    type: string
                    example: likely_denial
                  reasons:
                    type: array
                    items:
                      type: string
                    example:
                      - "ICD10 I10 not sufficient for CPT 93000 per ACME policy 2025-10-01"
                      - "Missing documentation: resting ECG interpretation note"
                  policy_refs:
                    type: array
                    items:
                      type: string
                    example:
                      - "ACME-ECG-2025-10-01"
                      - "CMS-LCD-L12345"
              example:
                risk: 0.82
                status: "likely_denial"
                reasons:
                  - "ICD10 I10 not sufficient for CPT 93000 per ACME policy 2025-10-01"
                  - "Missing documentation: resting ECG interpretation note"
                policy_refs:
                  - "ACME-ECG-2025-10-01"
                  - "CMS-LCD-L12345"
        '400':
          description: Bad Request - missing or invalid field
        '401':
          description: Unauthorized - invalid API key
        '500':
          description: Internal server error
